
.parent{
    background-color: black;
}

.box{
   border: 2px solid white;
    color :aliceblue;
    margin:5px;
    height:20px;
    width: 20;
    flex-wrap: wrap;

}
.head{
    color: antiquewhite;
}